<div style="text-align: center;">
<strong>
<big style="color: red;"><big>
<big><big><big>Willkommen<br>
</big></big></big></big></big>
</strong>
<br>
<img style="width: 355px; height: 160px;" alt="Go2DHBW" src="../Logo_Startseite.png"><br>
<br>
Sehr geehrte Firmen, sehr geehrte Studieninteressierte,<br>
<br>
auf diesem Portal haben Sie die Möglichkeit offene Studienplätze anzubieten oder zu finden.<br>
<br>
<br>
<b>Projektteam:</b><br>
Lukas Auchter, Patrick Deeg, Phil Matychowiak, Daniel Mühlbauer, Martin Nitz, Marius Reinwald, Patrick Thoma,&nbsp; Michael Weiß<br>
</div>
